body{
    background-color: black;
}

.time{
    color: white;
    font-size: 20px;
    padding-left: 5%;
    padding-top: 5%;
}

.weather{
    color: white;
    font-size: 20px;
    float: right;
    padding-right: 5%;
}

h1 {
    text-align: center;
    color: white;
    padding-top: 10vh;
}

.instruction{
    color: gray;
    text-align: center;
    padding-top: 50vh;

}